#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  flex-direction: row;
  align-content: center;
  text-align: center;
}

#greeting-container {
  background-color: red;
  font-weight: bold;
  font-size: 40px;
}
#search{
    width: 170px;
    height: auto;
    margin-right: auto;
    margin-left:10px;
}

.card-body{
    flex-direction: row;
}